/* General Settings */
body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    /* background-color: #191A19; */
    color: #FFFFFF;
    line-height: 1.6;
    font-size: 18px;
    background: linear-gradient(35deg, #0d0d0d, #1a2a1e, #0a0a0a, #1d0f20); /* Very dark black, muted deep green, and pitch black */
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #313331;  */
    padding-left: 1%;
    padding-right: 1%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(145deg, #000000, #222121, #000000);
    box-shadow: 0px 2px 4px rgba(18, 9, 24, 0.101); 
}

.logo {
    cursor: pointer;
    font-size: 1.7rem; /* Increased size */
    font-weight: bold;
    color: #4E9F3D;
    text-decoration: none;
    transition: color 0.1s ease;
}

.logo:hover {
    color: #83dc73; /* Color on hover */
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #4E9F3D;
    text-decoration: none;
    font-size: 1.2rem; /* Increased size */
    font-weight:600;
}

.aboutnav:hover, .contactnav:hover {
    color: #83dc73;
}
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}


/* Responsive Navbar */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links.active {
        display: flex;
    }

    .burger {
        display: block;
    }
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

h1 {
    font-size: 3rem; /* Increased heading size */
    margin-bottom: 20px;
    color: #4E9F3D;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topic{
    font-family: Consolas, monaco, monospace;
    text-align: center;
}

label {
    font-size: 1.5rem; /* Increased label size */
    color: #FF1493; /* Fluorescent pink */
}

input {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 60px;
    margin-bottom: 20px;
    width: 350px; /* Increase input width */
    font-size: 1.5rem; /* Increased text size */
    font-family: "Courier New", monospace;
}

input::placeholder {
    color: #ccc;
}

input:focus {
    outline: none;
}

button {
    background: linear-gradient(35deg, #6e3b79, #20233f,  #3d6347);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px; /* Rounded button */
    cursor: pointer;
    font-size: 1.5rem; /* Increased button text size */
    transition: all 0.3s ease;
    font-family: Consolas, monaco, monospace;
}

.button-group {
    display: flex;
    flex-direction: row; /* Horizontal alignment for buttons */
    justify-content: center;
    margin-top: 10px; /* Add spacing from input field */
}

button:hover {
    background-color: #171e6d;
    transform: scale(1.1);
}

#copy-button {
    background: linear-gradient(145deg, #3d6347, #20233f, #6e3b79);
    color: white;
    padding: 15px 30px;
    border:#171e6d;
    border-radius: 30px; /* Rounded button */
    cursor: pointer;
    font-size: 1.5rem; /* Same size as other button */
    margin-left: 10px; /* Adds spacing from the Generate button */
}

#copy-button:hover {
    background-color: #171e6d; /* Hover effect */
}

button, #copy-button {
    padding: 10px 20px; /* Reduced size */
    font-size: 1.2rem;  /* Reduced font size */
    margin-left: 10px;  /* Spacing between buttons */
}


/* Blog Content */
#blog-content {
    background-color: #444;
    padding: 25px;
    border-radius: 10px;
    /* max-width: 600px; */
    margin-top: 2%;
    margin-bottom: 2%;
    width: 85%;
    font-family: Consolas, monaco, monospace;
    font-size: 1.5rem; /* Increased output text size */
    min-height: 200px;  /* Ensures a base height */
    overflow-y: auto;   /* Adds scrolling if content overflows */
    word-wrap: break-word; /* Prevent long words from breaking the layout */
}

/* About Section */
.about {
    padding: 40px;
    background-color: #191A19;
    text-align: left;
    font-size: 1.5rem; /* Increased about text size */
    margin-top: 20px;  /* Add margin to ensure spacing */
    background: linear-gradient(35deg, #0d0d0d, #1a2a1e, #0a0a0a, #1d0f20);
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#about-content-header {
    color: #4E9F3D;
}
.abt {
    text-align: center;
}
.about ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Footer */
footer {
    /* padding-top: 0.2%; */
    /* padding-bottom: 0.2%; */
    background: linear-gradient(145deg, #242424,#000000,#000000,#000000,#000000,#000000, #242424);
    text-align: center;
    position: relative;
    bottom: 0;
    /* width: 100%; */
    clear: both;
}

footer img {
    width: 30px;
    margin: 10px 20px;
    filter: invert(100%);
}

footer a {
    color: #FF1493; /* Fluorescent pink */
    text-decoration: none;

    
}

/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
    display: none;
}

/* Ensure scrolling still works */
body {
    -ms-overflow-style: none;  /* Hide scrollbar on IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar on Firefox */
}


