/* General Settings */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    background: linear-gradient(35deg, #0d0d0d, #1a2a1e, #0a0a0a, #1d0f20);
    color: #FFFFFF;
    line-height: 1.6;
    font-size: 18px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 1%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(145deg, #000000, #000000, #222121, #000000, #000000);
    box-shadow: 0px 2px 4px rgba(18, 9, 24, 0.1);
}

.logo {
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: bold;
    color: #4E9F3D;
    text-decoration: none;
    transition: color 0.1s ease;
}

.logo:hover {
    color: #83dc73;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #4E9F3D;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-links a:hover {
    color: #83dc73;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}

/* Responsive Navbar */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #000;
    }

    .nav-links.active {
        display: flex;
    }

    .burger {
        display: block;
    }
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #4E9F3D;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topic {
    font-family: Consolas, monaco, monospace;
    text-align: center;
}

label {
    font-size: 1.5rem;
    color: #FF1493;
}

input {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 350px;
    font-size: 1.5rem;
    font-family: "Courier New", monospace;
}

input::placeholder {
    color: #ccc;
}

input:focus {
    outline: none;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    background: linear-gradient(35deg, #6e3b79, #20233f,  #3d6347);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    margin-left: 10px;
}

button:hover {
    background-color: #171e6d;
    transform: scale(1.05);
}

#copy-button{
    background: linear-gradient(145deg, #3d6347, #20233f, #6e3b79);
}

/* Blog Content */
#blog-content {
    background-color: #444;
    padding: 25px;
    border-radius: 20px;
    width: 75%;
    /* max-width: 800px; */
    margin: 2% auto;
    font-family: Consolas, monaco, monospace;
    font-size: 1.5rem;
    min-height: 200px;
    overflow-y: auto;
    word-wrap: break-word;
}

/* About Section */
.about {
    padding: 40px;
    background: linear-gradient(35deg, #1d0f20, #0a0a0a, #1a2a1e, #0d0d0d);
    text-align: left;
    font-size: 1.5rem;
    margin-top: 20px;
}

#about-content-header {
    color: #4E9F3D;
}

.abt {
    text-align: center;
}

.about ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Footer */
footer {
    /* padding: 10px 0; */
    background: linear-gradient(145deg, #242424,#000000,#000000,#000000,#000000,#000000, #242424);
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
}

footer img {
    width: 30px;
    margin: 10px 20px;
    filter: invert(100%);
}

footer a {
    color: #FF1493;
    text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
    display: none;
}

/* Ensure scrolling still works */
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
